
*{
    margin: 0px; 
    padding: 0px; 
    color:  #02e6f2;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}
body{
    
    margin:0;
    background-image: linear-gradient(to bottom,#141e30, #243b55);
    background-attachment: fixed;
    padding: 0.1px;
    text-shadow: 3px 3px 2px #000000;
    text-align: center;
}
h1{
    color: #02e6f2;
}
h2, h3{
    color: #7c7c7c;
}
#logo{
    
    display: inline-flex;
    width:100px;
    height: auto;
} 

#retorno{
    display: flex;
    align-items: end;
    color: #fff;
  }

section{
    text-align: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 80px;
}
.filme{
    background-color: rgba(0, 0, 0, 0.418);
    text-align: flex;
    max-width: 150px;
    height: auto;
    
}
.filme:hover{
    max-width: 300px;
    box-shadow: 3px 3px 2px #02e6f2;
    transition: .5s;
}
.filme>img{
    margin-top: 15px;
    width: 70%;
    height: auto;
}
.filme>p  {
    color: #000000;
    font-weight: bold;
    text-shadow: none;
}
.subtitulo1{
    margin-top: 100px;
    margin-bottom: 8px;
    text-align: justify;
    padding: 10px 8px ;
    border-bottom: 3px solid  #02e6f2; 
}
.subtitulo{
    margin-top: 90px;
    margin-bottom: 8px;
    text-align: justify;
    padding: 10px 8px ;
    border-bottom: 3px solid  #02e6f2; 
}

.filme2{
    background-color: rgba(0, 0, 0, 0.418);
    text-align: flex;
    max-width: 250px;
    margin: 15px;
}
.filme2 iframe{
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
}
.filme2>p  {
    color: #000000;
    font-weight: bold;
    text-shadow: none;
}

nav{
    
    width: 100%;
    position: fixed;
    height: 80px;
    background-image: linear-gradient(to bottom,#141e30, #243b55);
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0 20px;
  
    /* position:fixed;
    left: 0;
    top: 0;
    right: 0; 
    margin-bottom: 30px;
    text-decoration: none;
    border:3px solid black;
    border-radius: 30px;
    display: flex;*/
}

ul{
    font-size: 20px;
    font-weight: bold;
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

a:hover{
    text-decoration: underline;
    color:#b4fbff;
}

input[type=text],input[type=email],input[type=number]{
    width: 90vh;
    height: 30px;
    display: flex;
    /* padding-top:1px ; */
    margin:4px;
    border:2px bold black;
    border-radius: 10px;
    background: #e9e5e5; 
    color: #000000;
}
input {
    margin-top: 300px;
}

textarea{
    width: 90vh;
    height: 30px;
    display: flex;
    margin:auto;
    border:2px bold black;
    border-radius: 10px; 
    background: #e9e5e5;
}



footer p{
    color: #03e9f4;
    text-shadow: 2px 2px 3px #080808;
    text-align: center;
    padding-top: 200px;
    
}
.botao{
    /* flex-direction:inherit; */
    padding: 10px 30px ;
    margin-top:10px ;
    border-radius: 20px;

}
.botao:hover{
    background-color: #03e9f4
}

.fundo{
    margin: 10px;
}




 