
*{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}
body{
    
    margin:auto;
    background: linear-gradient(#141e30, #243b55);
    /* background-image: linear-gradient(to bottom, #494949, #000000); */
    background-attachment: fixed;
    padding: 8px;
    text-shadow: 2px 2px 3px #86fc00;
    text-align: center;
}
#logo{
    margin: auto;
    width:40%;
    height:auto;

}
section{
    text-align: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.filme{
    background-color: rgba(0, 0, 0, 0.418);
    text-align: flex;
    max-width: 300px;
    margin: 15px;
}
.filme>p  {
    color: #9da09a;
    text-shadow: none;
}
.filme iframe{
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
}
.subtitulo{
    text-align: justify;
    padding-top: 30px;
}
.filme2{
    background-color: rgba(0, 0, 0, 0.418);
    text-align: flex;
    max-width: 250px;
    margin: 15px;
}
.filme2 iframe{
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
}
.filme2>p  {
    color: #9da09a;
    text-shadow: none;
}

nav{
    /* position:fixed;
    left: 0;
    top: 0;
    right: 0; */
    margin-bottom: 30px;
    text-decoration: none;
    border:3px solid black;
    border-radius: 30px;
    display: flex;
}


ul{
    font-size: 20px;
    font-weight: bold;
    color: black;

    list-style-type: '\2714\0020\0020';
    columns: 3;
    list-style-position: inside;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
   
}

input[type=text],input[type=email],input[type=number]{
    width: 90vh;
    height: 30px;
    display: flex;
    /* padding-top:1px ; */
    margin:4px;
    border:2px bold black;
    border-radius: 10px;
    background: #e9e5e5; 
    color: #000000;

}


textarea{
    width: 90vh;
    height: 30px;
    display: flex;
    margin:auto;
    border:2px bold black;
    border-radius: 10px; 
    background: #e9e5e5;
}



footer p{
    color: #86fc00;
    text-shadow: 2px 2px 3px #080808;
    text-align: center;
    padding-top: 200px;
    
}
.botao{
    /* flex-direction:inherit; */
    padding: 10px 30px ;
    margin-top:10px ;
    border-radius: 20px;

}
.botao:hover{
    background-color: #87dd25
}

.fundo{
    margin: 10px;
}






 